.database-table-list {
    /* max-height: 400px; overflow: auto; */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    border: 2px solid var(--gs0);
    border-radius: 8px;
    height: 400px;
}

.database-table-list a {
    scroll-snap-align: start;
    height: 40px;
    display: flex;
}
#innodbstatus_text {
    max-height: 50vh;
    overflow-y:auto;
}
