#mobile_search_result li:hover{
    background-color:#c0c0c0;
}
#mobile_search_result li{
    cursor:pointer;
}
#car-on-map{
    position:absolute;
    top:300px;
    left:300px;
    width:30px;
    height:30px;
    background-color:yellow;
    border-radius:50%;
    border:1px solid gray;
    text-align:center;
    line-height:25px;
    vertical-align:middle;

}